.inputArea {
  display: flex;
  width: 100%;
  flex-direction: column;
  border-bottom: 1px double #ccc;
  padding-bottom: 25px;
}

input {
  width: 100%;
  font-size: 2.25rem;
  color: white;
  margin-bottom: 6px;
  border-radius: 5px;
  margin-top: -37px;
}

input::webkit-outer-spin-button,
input::webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}

.textInput {
  font-family: 'Cinzel', cursive;
  border: 1px solid #ccc;
  background-color: #888;
  align-self: center; 
  
}

.textInput::placeholder {
  color: #777;
  text-align: center;
  font-size: 2rem;
  position: relative;
  top: 6px;
}

.textInput:focus {
  outline-color: #aaa;
  color: white;
  margin-bottom: 20px;
}
