.menuContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 100vh;
  display: inline;
}

.menuButton {
  position: absolute;
  width: 10px;
  height: 135px;
  background-color: black;
  top: 200px;
  left: 0;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.verticalLine {
  width: 3px;
  height: 70px;
  background-color: aqua;
}

.menuBody {
  position: absolute;
  top: 0;
  left: 0;
  display: inline;
  width: 200px;
  height: 100%;
  background-color: black;
  z-index: 7;
}

.menuTitle {
  color: aqua;
  font-size: 23px;
  font-family: 'Roboto' sans-serif;
  padding-left: 14px;
}

.menuItem {
  color: aqua;
  padding: 15px;
}

.menuItemDisabled {
  color: aqua;
  opacity: 0.5;
  padding: 15px;
}

#docsLink {
  cursor: pointer;
}
